<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'style.min', 'owl.carousel.min', 'animate.min', 'font-awesome.min', 'magnific-popup', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'main', 'jquery-3.1.1.min', 'tether.min', 'owl.carousel.min', 'masonry.pkgd.min', 'jquery-magnific-popup.min', 'jquery.touchwipe.min', 'jquery-migrate-1.4.1.min', 'appear.min', 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="preloader"><div class="loader"></div></div>
    <div class="page-box">
      <%= render 'layouts/headers' %>

      <div class="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
